<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ myname }}</td>
          <td>capitalizado</td>
          <td>{{ myname | capitalizado: true }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>uppercase</td>
          <td>{{ name | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>lowercase</td>
          <td>{{ name | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice: 3</td>
          <td>{{ name | slice: 3 }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice: 0:3</td>
          <td>{{ name | slice: 0:3 }}</td>
        </tr>
        <tr>
          <td>{{ array }}</td>
          <td>slice: 1:5</td>
          <td>{{ array | slice: 1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number: "1.0-0"</td>
          <td>{{ PI | number: "1.0-0" }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number: "1.0-2"</td>
          <td>{{ PI | number: "1.0-2" }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td>percent</td>
          <td>{{ percentage | percent }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td>percent: "2.2-2"</td>
          <td>{{ percentage | percent: "2.2-2" }}</td>
        </tr>
        <tr>
          <td>{{ payment }}</td>
          <td>currency</td>
          <td>{{ payment | currency }}</td>
        </tr>
        <tr>
          <td>{{ payment }}</td>
          <td>currency: "PEN"</td>
          <td>{{ payment | currency: "PEN " }}</td>
        </tr>

        <tr>
          <td>{{ valuePromise }}</td>
          <td>async</td>
          <td>{{ valuePromise | async }}</td>
        </tr>
        <tr>
          <td>01/01/2000</td>
          <td>date</td>
          <td>{{ dating | date }}</td>
        </tr>
        <tr>
          <td>01/01/2000</td>
          <td>date: "medium"</td>
          <td>{{ dating | date: "medium" }}</td>
        </tr>
        <tr>
          <td>01/01/2000</td>
          <td>date: "short"</td>
          <td>{{ dating | date: "short" }}</td>
        </tr>
        <tr>
          <td>01/01/2000</td>
          <td>dating | date: "MMMM-dd"</td>
          <td>{{ dating | date: "MMMM-dd" }}</td>
        </tr>
        <tr>
          <td>01/01/2000</td>
          <td>dating | date: "MMMM-dd"</td>
          <td>{{ dating | date: "MMMM-dd":"":"fr" }}</td>
        </tr>
        <tr>
          <td>01/01/2000</td>
          <td>
            dating | date: {{ language }}
            <br />
            <button
              (click)="language = 'es'"
              class="btn btn-primary btn-sm mx-1"
            >
              Español
            </button>
            <button
              (click)="language = 'en'"
              class="btn btn-secondary btn-sm mx-1"
            >
              Inglés
            </button>
            <button
              (click)="language = 'fr'"
              class="btn btn-success btn-sm mx-1"
            >
              Frances
            </button>
          </td>
          <td>{{ dating | date: "MMMM-dd":"":language }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>
            constraseña : {{ activate }}
            <br />
            <button (click)="activate = !activate" class="btn btn-primary">
              Activar/Desactivar
            </button>
          </td>
          <td>{{ name | password: activate }}</td>
        </tr>
      </tbody>
    </table>

    <hr />

    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of array | slice: 5:20">{{ item }}</li>
    </ul>

    <hr />
    <h4>Json</h4>
    <div class="row mb-5">
      <div class="col">
        <pre>{{ hero | json }}</pre>
      </div>
    </div>

    <hr />
    <h4>Dom Seguro</h4>
    <div class="row mb-4">
      <div class="col">
        <iframe
          width="560"
          height="315"
          [src]="videoUrl | domseguro"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
